{:environment "staging"
 :color       "red"
 :applications {:name    "myapp"
                :version "1.2.3"
                :clients-uris {:myapp-front {:root       "https://myapp.staging.example.com"
                                             :base       "/"
                                             :redirects  ["https://myapp.staging.example.com", "https://myapp.staging.example.com/*"]
                                             :origins    ["https://myapp.staging.example.com"]}
                               :myapp-api   {:root       "https://api.myapp.staging.example.com"
                                             :base       "/"
                                             :redirects  ["https://api.myapp.staging.example.com", "https://api.myapp.staging.example.com/*"]
                                             :origins    ["https://api.myapp.staging.example.com"]
                                             }}}
 :keycloak    {:protocol "http"
               :host     "host.docker.internal"
               :port     8090
               :login    "admin"
               :password "secretadmin"
               :secret-file-without-extension ".keycloak-secrets"}
 :secret-file {:name-without-extension ".keycloak-secrets"
               :path [:infra :keycloak]}
 :vault       {:protocol "http"
               :host     "host.docker.internal"
               :port     8200
               :token    "myroot"
               :mount    "secret"
               ;;%1$s is the environment, %2$s is the color, %3$s is the base-domain, %4$s is the client-id (so depends of your realm-config.clj code)
               :path     "/env/%1$s/keycloak/clients/%4$s"}}
